
body{
    width: 100%;
    overflow: scroll;    
}

.content{
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 12rem;
}

.header {
    color: white;
    background: #2a2f36;
}

.navbar {
    background: white;
    color: black;
    padding-top:  1rem ;
    padding-bottom:  1rem ;
}

.left_header {
      display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
}

.right_header {
      display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    list-style-type: none;
    align-items: center;
    gap: 2rem;
}

.donate_now {
    width: 10rem;
    margin-left: 20px;
    background-color: #fc2c62;
    border-color: #fc2c62;
    margin-top: -15px;
    margin-bottom: -15px;
    padding-top: 9px;
}

.donate_now a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 2rem ;
}

.left_red_partie{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
    color: white;

}



